form{
    max-width: 500px;
    margin:auto;
} 

mat-form-field{
    width: 100%;
    color: white;
    border-color: white;
}
mat-label{
    color: white;
}
mat-hint{
    color: white;
}
mat-label{
    color: white;
}
input{
    // background-color: white;
    color: white;

}