<div  id="mid">
    <h1 id="web"><b>Web bán game fifa online 4</b></h1>
    <div id="video">
        <iframe width="518" 
                height="315" 
                src="https://www.youtube.com/embed/hCtroS7ZOB4" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
        </iframe>
    </div>
    <div class="menu"></div>
    <app-item></app-item>
</div>
