<div id="top">
    <img id="img" src="../../../assets/images/fo4.png">
    <div id="nutbam">
        <button onclick="display('trangchu')" id="nut">Trang Chủ</button>
        <button onclick="display('mayman')" id="nut">Vòng quay may mắn</button>
        <button onclick="display('randow')" id="nut">Vòng quay Randow Acc</button>
        <button onclick="display('dangnhap')" id="nut">Đăng nhập</button>
        <button onclick="display('dangky')" id="nut">Đăng ký</button>
    </div>
    <div>
        <p>
            <mat-toolbar style="background-color: blue;">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                  <mat-icon>menu</mat-icon>
                </button>
                <span>My App</span>
                <span class="example-spacer"></span>
                <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
                </button>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                  <mat-icon>share</mat-icon>
                </button>
              </mat-toolbar>
        </p>
    </div>
</div>