form {
    max-width: 500px;
    margin: auto;
    margin-top: 60px;
    border: 2px solid black;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-top: 20px;
    margin-left: 200px;
    background-color: green;
  }