#main{
	width: 1600px;
	height : 1000px;
	background-color: black;
	margin-left:auto;	
	margin-right:auto;
}
#tieude{
	width: 1600px;
	height :100px;
	background-color:#111111;
}
#dau{
	width: 1600px;
	height :50px;
	/* background-color:red; */
}
#left{
	width: 1100px;
	height :50px;
	float: left;
	/* background-color:blue; */
}
#right{
	width: 500px;
	height :50px;
	float: right;
	/* background-color:yellow; */
}
#goi{
	width: 100px;
	height : 40px;
	background-color:#FF7F24;
    margin-top: 0px;
    font-size: 20px;
	text-align:center;
	color: white;
	border-radius:10%;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.iconify{
	width: 30px;
	height :23px;
	margin-top: auto;
	margin-bottom: auto;
}
#logo{
	width: 150px;
	height :30px;
	margin-top: a;
	margin-left: 15px;
}

nav{
	background-color:#111111;
	text-align: center;
}
nav a{
	display:inline-block;
	padding:10px;
	font-size:20px;
	color:white;
	text-decoration:none;
}
nav a:hover{
	background-color:#333;
}
#chon{
	font-size:20px;
	width: 120px;
	height : 50px;
	color:white;
	background-color:#444444;
}

#fontdk{
	width: 1600px;
	height : 1000px;
	background-color:black;
	float: right;
	text-align:center;
}
#dk{
    font-size: 30px;
    color: white;
    text-align:center;
}
#font{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
	height :700px;
	background-color:#333333;
	border-radius:6%;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
#chaomung{
    font-size: 20px;
    color: 	Gray;
    text-align:center;
}
.form{
    width: 393px;
	height : 50px;
	background-color:white;
    margin-top: 20px;
    font-size: 20px;
	border-radius:6%;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
#dieukhoan{
    font-size: 20px;
    color: #555555;
    text-align:center;
}
#chinhsach{
    font-size: 20px;
    color: white;
    text-align:center;
	margin-top: -20px;
}
#buttondk{
	width: 400px;
	height : 50px;
	background-color:#FF7F24;
    margin-top: -5px;
    font-size: 20px;
	text-align:center;
	color: white;
	border-radius:6%;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
#buttonfa{
	width: 400px;
	height : 50px;
	background-color:#0033CC;
    margin-top: 20px;
    font-size: 20px;
	text-align:center;
	color: white;
	border-radius:6%;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
#buttongg{
	width: 400px;
	height : 50px;
	background-color:#FF3333;
    margin-top: 20px;
    font-size: 20px;
	text-align:center;
	color: white;
	border-radius:6%;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
hr{
	margin-top: 20px;

}
#gach{
	color: 	Gray;
}
#khung{
	width: 400px;
	height : 500px;
	/* background-color:blueviolet; */
	margin-left: auto;
	margin-right: auto;	
}