<!-- <app-login></app-login> -->
<!-- <app-mid></app-mid> -->
<!-- <app-bot></app-bot> -->
<!-- <div class="container" >
<label for="fname">Tên Game:</label>
<input [(ngModel)]="this.name"/>
<br>
<label for="fname">Giá Game:</label>
<input [(ngModel)]="this.pirce"/>
<br>
<label for="fname">Hình ảnh :</label>
<input [(ngModel)]="this.photoURL"/>
<br>
<label for="fname">Độ hot:</label>
<input [(ngModel)]="this.popularity"/>
<br>
<label for="fname">Version Game:</label>
<input [(ngModel)]="this.quantity"/><br>
<label for="fname">Collection:</label>
<input [(ngModel)]="this.collectionName"/><br>
<button mat-raised-button (click)="this.addData()">Submit</button>

</div> -->
<!-- <h2>Thêm Items</h2>
<form [formGroup]="form" (submit)="test()">
    <mat-form-field appearance="legacy">
        <mat-label>Tên Game</mat-label>
        <input formControlName="name" matInput placeholder="Name">
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>Price</mat-label>
        <input formControlName="pirce" matInput placeholder=" Price">
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>Hình ảnh</mat-label>
        <input formControlName="photoURL" matInput placeholder="photoURL">
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>Độ hot</mat-label>
        <input formControlName="popularity" matInput placeholder="popularity">
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>Version Game:</mat-label>
        <input formControlName="quantity" matInput  placeholder="quantity">
    </mat-form-field>
    <mat-form-field appearance="legacy">
        <mat-label>collectionName</mat-label>
        <input formControlName="collectionName" matInput placeholder="collectionName">
    </mat-form-field>
    <button mat-raised-button>Submit</button>
</form> -->