<!-- <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p> -->

  <div class="container">
    <div class="header">
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <b href="#user">Tài khoản</b> 
            <b href="#about">Đăng nhập</b>
            <b href="#contact">Giỏ hàng</b>
            <div class="search-container">
              <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                
              </form>
            </div>
          </div>
    </div>
  </div>
