<p></p>

<div class="container">
    <div class="img">
        <div *ngFor="let item of list" class="title">
            <h1>{{item.name}}</h1>
          </div>
          <div>
            Men's training shoe
          </div>
        <img src="http://www.supah.it/dribbble/012/1.jpg" alt="" >
        <div class="price">
        <h2 style="margin-bottom: 100px; color: red;">$130</h2>
        <button class="btn" style="margin: 0 0 100px 150px;" (click)="click()" >Add to cart</button>
        
    </div>
        
    </div>
    
    
</div>
