<form [formGroup]="form" (submit)="test()">

    <mat-form-field appearance="legacy">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Email</mat-hint>
    </mat-form-field>


    <mat-form-field appearance="standard">
        <mat-label>Text</mat-label>
        <input formControlName="text" matInput placeholder="Placeholder">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Text</mat-hint>
    </mat-form-field>

    <button class="button">Result</button>

</form>