<p>
    <mat-toolbar color="grey">
      <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon">
        <mat-icon style="color: black;">menu</mat-icon>
      </button>
      <span style="color: black;"><a href="https://www.nike.com/vn/" style="text-decoration: none;">Nike Store</a></span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon"></button>
      <div class="navitem" >
        
        <span style="color: black;" >Men</span>
        <span style="color: black;">Women</span>
        <span style="color: black;">Kid</span>
      </div>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon >favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon >shop</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  
  