#footer{
    justify-content: center;
    width: 100%;
    height: 630px;
    background-color: rgba(32,32,32,255);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    place-items: center;
    margin-top: 13vh;
}

#footer img{
    flex: 1 1 150px; /*  Stretching: */
    flex: 0 1 150px; /*  No stretching: */
    // margin: 5px;
}