<app-body></app-body>
<div class="big">
    <div class="'left">
        <h2 style="margin-top: 20px; margin-left: 50px">Danh sách sản phẩm trong giỏ hàng: </h2>
        <div class="cart">
            <div *ngFor="let item of this.cartSerVice.arrayCart">
                <img [matTooltip]="item.Des" class="img" [src]="item.PhotoURL" />
                <h3>Tên game: {{item.Name}}</h3>
                <h4>Giá: {{item.Price}} VNĐ</h4>
                <h2>Số lượng: {{item.Quantity}} key</h2>
            </div>
        </div>
    </div>

    <div class="right">
        <p>Tổng số tiền phải thanh toán là: {{this.cartSerVice.sum}} VNĐ</p>
        <button style="width: 300px;" (click)="thanhToan()" mat-raised-button color="primary">Thanh toán</button>
    </div>
</div>

<img src="../../../assets/img/h1.jpg" />




<!-- <div *ngFor="let item of this.cartSerVice.arrayCart">
    <img [matTooltip]="item.des" class="img" [src]="item.photoURL" />
    <h3>{{item.name}}</h3>
    <h4>{{item.price}}</h4>
    <h2>{{item.quantity}}</h2>
</div> -->

<!-- <div>
    <button (click)="thanhToan()" mat-raised-button color="primary">Thanh toán</button>
    <p>{{this.cartSerVice.sum}} VNĐ</p>
</div> -->