<div class="bottom">
    <div id="gioithieu">
        <h1><b>GiỚI THIỆU WEBBANGAME</b></h1>
        <p>Web bán các game đang hot chính hãng - 100% </p>
        <!-- <hr style="color: blue;border-style: double;"> -->
        <p>Giới thiệu</p>
        <p>Hướng dẫn mua game<br>Liên hệ/Góp ý</p>
    </div>
    <!-- <hr style="color: blue;border-style: double;"> -->
    <div id="lienhe">
        <h2><b>Thông tin liên hệ</b></h2>
        <p>Hotline:01234567(Admin)</p>
        <p>Email:webnbangameT1@gmail.com</p>
        <p>Hỗ trợ :24h</p>
    </div>
    <!-- <hr style="color: blue;border-style: double;"> -->
    <div id="dichvu">
        <h4><b>Dịch vụ khác</b></h4>
        <p>Hỗ trợ lỗi sau khi cài đặt</p>
    </div>
</div>
