<div id="fontdk">
    <p id="dk">Đăng ký tài khoản</p>
   <div id="font">
        <br>
        <br>
        <p id="chaomung">Vui lòng nhập số điện thoại</p>
        <p id="toida">Vui lòng nhập Mật khẩu tối đa 6 số (0-9)</p>
        <div id="d">
            <input type="text" value placeholder="  Nhập số điện thoại" class="form">
            <br>
            <input type="text" value placeholder="  Nhập mật khẩu" class="form">
            <br>
            <input type="text" value placeholder="  Nhập lại mật khẩu" class="form">
            <h3 id="dieukhoan">Khi bấm vào nút đăng ký, bạn đã đồng ý với</h3>
            <h3 id="chinhsach">Chính sách và quy định</h3>
            <div class="button">
                <button class="dangky" type="submit">Đăng ký</button>
            </div>
            <div>
                <table>
                    <tr>
                        <td id="gach">&nbsp;</td>
                        <td rowspan="2" id="hoac">hoặc</td>
                        <td id="gach">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </div>
            <div class="button">
                <button class="fb" type="submit">FaceBook</button>
            </div>
            <div class="button">
                <button class="dangky" type="submit">Google</button>
            </div>   
        </div>    
    </div>
</div>
