.film{
    border-style: groove;
   height: 300px;
   width: 300px;
   margin-left: 70px;
   padding-bottom: 180px;
   box-shadow: 4px 4px;
   background-color: rgba(32,32,32,255);
   
}
.film img{
    height: 300px;
    width: 250px;
}
