<div class="container">
    <div id="choice">
      <input style ="height:50%;width: 50%;margin-left: 25%;"placeholder="Tìm kiếm tên"id="searchInput">
    </div>
    <div id="list-items">
      <!-- <div *ngFor ='let item of dataService.l'>
        <app-item [item] = 'item' "></app-item> -->
      <!-- </div> -->
    </div>
</div>
<!-- <div id="total" > 
   <button  style="margin: 15px 0 0 0;"mat-raised-button (click)="tinhToTal()">Tính Tiền</button>
  <mat-divider></mat-divider> -->
   <!-- <div  id="cost" innerHTML ={{thanhTien}}></div> 
  <p id="cost" style="font-size: large;" >Tổng tiền: {{ tongTien | number }} vnđ</p>  -->
<!-- </div>  -->
