<div id="bottom">
    <div id="gioithieu">
        <h1><b>GiỚI THIỆU WEBBANACCFO4.COM</b></h1>
        <p>Web bán acc fifa online 4 uy tin<br>Bán Nick theo đội hình câu lạc bộ hoặc đổi tuyển 100% giá rẻ</p>
        <hr style="color: blue;border-style: double;">
        <p>Giới thiệu</p>
        <p>Hướng dẫn mua acc fifa<br>Liên hệ/Góp ý</p>
    </div>
    <hr style="color: blue;border-style: double;">
    <div id="lienhe">
        <h2><b>Thông tin liên hệ</b></h2>
        <p>Hotline:01234567(Admin)</p>
        <p>Email:webnbanaccfo4@gmail.com</p>
        <p>Hỗ trợ :24h</p>
    </div>
    <hr style="color: blue;border-style: double;">
    <div id="dichvu">
        <h4><b>Dịch vụ khác</b></h4>
        <p>Xây dựng đội hình fo4 theo yêu cầu<br>Hỗ trợ bảo mật thông tin acc</p>
    </div>
</div>
