#bottom{
	width: 100%;
	height :fit-content;
	background-color:#C0C0C0;
	display: flex;
	flex-wrap: wrap;
}
#gioithieu{
	font-size: 20px;
	color: black;
}
#dichvu{
	font-size: 20px;
	color: black;
}
#lienhe{
	font-size: 20px;
	color: black;
}