.container{
    height:100vh;
    width:100vw;
    background-color: rgba(48,48,48,255)
}

#choice{
    height:10%;
    width:100%;
    
}
#searchInput{
    background: url(https://cdn.shopify.com/s/files/1/0104/6662/3554/t/13/assets/search.svg) no-repeat center right 18px #fff;
    background-size: auto 20px;
    outline: none;
}
