.container{
    height: auto;
    width: fit-content;
    border: solid 1px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    margin-left: 20px;
    text-align: center;
}
.menu{
    width: 500px;
}
#mua{
    font-size: 20px;
    width: 250px;
}
.text{
    font-size: 20px;
}