.form{
    width: 70px;
    height: 70px;
    background-color: red;
    
    position: relative;
    animation-name: move;
    animation-timing-function: linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes move{
0%{
    left: 0px;
    top: 0px;
}
10%{
    left: 700px;
    top: 0px;
}
20%{
    left:700px;
    top:450px;
}
30%{
    left:100px;
    top: 450px;
}
40%{
    left: 100px;
    top: 100px;
}
50%{
    left: 500px;
    top: 100px;
}
60%{
    left:500px;
    top: 300px;
}
70%{
    left: 200px;
    top: 300px;
}
80%{
    left:200px;
    top:150px;
}
90%{
    left:400px;
    top:150px;
}
100%{
    left:400;
    top:200px;
}

}
/* @-webkit-keyframes move{

} */