<div>
    <p>
        <mat-toolbar style="background-color: blue;height: auto;">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span id="web">My Web</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>search</mat-icon>
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>language</mat-icon>
              </button>
            </button>
          </mat-toolbar>
    </p>
</div>